
Mathematics/images/Scalar.png
Mathematics/images/Vector.png
Mathematics/math.ipynb
Mathematics/Introduction to linear algebra.py
Math's/Descriptive- Measures of central tendency.py
Math's/What is statistics.py
Math's/Descriptive- Measures of central tendency.py
